.items
    &__title
        margin-top: 47px
        font-family: 'Readex Pro'
        font-size: 42px
        line-height: 52px
        text-align: center
        color: #000000
    &__subtitle
        margin-top: 9px
        font-family: 'Readex Pro'
        text-align: center
        font-size: 13px
        line-height: 17px
        color: #000000
    &__wrapper
        margin-top: 31px
        display: flex
        justify-content: space-between
    &__card
        width: 300px
        &_img
            padding: 28px
            img
                width: 100%
        &_title
            margin-top: 9px
            font-family: 'Readex Pro'
            font-size: 22px
            line-height: 28px
            color: #000000
        &_descr
            margin-top: 9px
            font-family: 'Inter'
            font-size: 14px
            line-height: 17px
            color: #4B4B4B
        &_prise
            margin-top: 8px
            font-family: 'Inter'
            font-size: 18px
            line-height: 22px
            color: #000000
        #card_prise
            margin-top: 25px
            
            


